.container{
    text-align: center;
    margin-bottom: 5%;

}
.centre-div{
    /* background-color: red; */
    margin-left: 5%;
    margin-right: 5%;

    padding: 5px;
}
.problem_name{

    font-family: cursive;
    background: coral;
    color: chartreuse;
    padding: 5%;
    margin: 5%;
}

.problem_statement{

    font-family: 'Courier New', Courier, monospace;
}

.sample_input{
    width: 50%;
    float: left;
    border: solid;
}

.sample_output{
    border: solid;
}

.limits{

    margin: 5%;
    text-align: left;
}

.info{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

#submission-result {
    margin: 40%;
    position: relative;
}