{% extends 'basic_templates/navbar.html' %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">Blog Title</th>
            <th scope="col">Likes</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
                <tr>
                    <td><a href="{% url 'Profiles:blog_display' blog.id %}">{{ blog.title }}</a></td>
                    <td>{{ blog.like_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
