{% extends 'basic_templates/navbar.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'profiles_styles/index.css' %}">
    <div class="container my-4">
      <div class="row mb-2">
        <div class="col-lg">
          {% for blog in blogs %}          
            <div class="card">
                <div class="card-header" style="padding: 0%;">
                    <a href="{% url 'Profiles:blog_display' blog.id %}" class="list-group-item list-group-item-action"  style="background:rgb(220,220,220)">{{ blog.title }}</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ blog.profile.user.username }}</h5>
                    <p class="card-text">{{ blog.content }}</p>
                    <button id="like" onClick='updateLikes({{ blog.id }})'><img src="/media/utilities/like.png" alt="img" width="50px" height="50px"></button>  <span id="like-count{{blog.id}}">{{ blog.like_count }}</span>
                </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                {% if profile.profile_pic %}
                <img src="{{ profile.profile_pic.url }}" class="card-img-top circular--landscape" style="margin: 2.5rem;" alt="...">
                {% endif %}

                {% if not profile.profile_pic %}
                <img src="/media/profile_pics/default.jpeg" class="card-img-top circular--landscape" style="margin: 2.5rem;" alt="image can't be loaded">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ profile.user.username }}</h5>
                    <p class="card-text">Problems solved : {{ problem_count }}</p>
                    <a href="{% url 'Profiles:view_profile' profile.id %}" class="btn btn-primary">Display Profile</a>
                </div>
            </div>
        </div>
      </div>
    </div>

    <script>
      updateLikes = (blog_id) => {
          fetch('http://127.0.0.1:8000/blogs/' + blog_id)
          .then((response) => {
              return response.json();
          })
          .then((data) => {
              console.log(data);
              if(data === 'You have already liked this block') {
                  alert(data)
              }
              else
                  document.getElementById('like-count' + blog_id).innerHTML = data
          }) 
          .catch ((err) => { console.log(err) });
      }
  </script>
{% endblock %}