#main { 
    width: 100%;
    margin-top: 30px;
    margin-left : 2.5%;
}
#main-div    {
    width: 70%;
    float: left;
    margin-left: 7px;
}

#profile-display  {
    position: absolute;
    width: 23%;
    margin-left: 73%;
}

@media only screen and (max-width: 900px){
    #profile-display{
        display: none;
    }
    #main-div{
        width: 100%;
    }
}

.circular--landscape {
    margin-left: 30%;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}