<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Problems</title>
</head>
<body>
    {% for problem in problems %}
        <p><a href="{% url 'Problems:view_problem' problem.id%}">{{ problem.problem_name }}</a> : 
        {% if problem in attempted_problems %}
            Attempted
        {% endif %}
        {% if problem not in attempted_problems %}
            Not Attempted
        {% endif %}
        </p>
    {% endfor %}
</body>
</html>