{% extends 'basic_templates/navbar.html' %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col" style="width: 75%;">Problem Name</th>
            <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
                <tr>
                    <td><a href="{% url 'Problems:view_problem' problem.id %}">{{ problem.problem_name }}</a></td>
                    <td>
                        {% if problem in attempted_problems %}
                            Attempted
                        {% endif %}
                        {% if problem not in attempted_problems %}
                            Not Attempted
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}