{% extends 'basic_templates/navbar.html' %}

{% block content %}
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">User</th>
            <th scope="col">Problem</th>
            <th scope="col">Created Time</th>
            <th scope="col">Language</th>
            <th scope="col">Status</th>
            <th scope="col">Time</th>
            <th scope="col">Memory</th>
            </tr>
        </thead>
        <tbody>
            {% for code in codes %}
                <tr>
                    <td>{{ code.user.user.username }}</td>
                    <td>{{ code.problem }}</td>
                    <td>{{ code.creation_time }}</td>
                    <td>{{ code.language_used }}</td>
                    {% if code.status == "Accepted" or code.status == "AC" %}
                        <td style="color: green;"><strong>{{ code.status }}</strong></td>
                    {% elif code.status == "Wrong Answer" or code.status == "WA" %}
                        <td style="color: red;"><strong>{{ code.status }}</strong></td>
                    {% elif code.status == "Time Limit Exceeded" or code.status == "TLE" %}
                        <td style="color: orange;"><strong>{{ code.status }}</strong></td>
                    {% elif code.status == "Memory Limit Exceeded" or code.status == "MLE" %}
                        <td style="color: blue;"><strong>{{ code.status }}</strong></td>
                    {% else %}
                        <td style="color: grey;"><strong>Skipped</strong></td>
                    {% endif %}
                    <td>{{ code.time }}</td>
                    <td>{{ code.memory }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}